<!doctype html>
<html>
<head>
  <title>Vask Video</title>
  <script src="../bower_components/react/react.min.js"></script>
  <script src="../bower_components/react/JSXTransformer.js"></script>
  <script>
    var WebFontConfig = {
      google: { families: [ 'Roboto:400,300,500:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/mdi/css/materialdesignicons.min.css">
  <style>
   #ytCont {
        position: relative;
        height: auto;
        padding-bottom: 50%;
    }
    #youtube {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .modal-backdrop {
      z-index: 0;
    }
  </style>
</head>
<body>

  <div class="nav-bar"></div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10 col-sm-offset-3 col-md-offset-1 col-lg-offset-1">
        <div class="youtube-video" id="ytCont"></div>

        <div class="question-entry"></div>
      </div>
    </div>

  </div>



  <script src="/build/js/lectureView.js"></script>
</body>
</html>
